.App {
  padding: 20px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  height: 100vh;
  gap: 20px;
}

.App__playerList {
  list-style: none;
}

.App__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
