.Button {
  padding: 5px 10px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: inherit;
}

.Button--active {
  background-color: black;
  color: white;
}

.Button:hover {
  background: black;
  color: white;
}
